name: Deploy
on:
  push:
    branches: [v2]
  pull_request:
    branches: [v2]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    permissions:
      id-token: write # Needed for auth with Deno Deploy
      contents: read # Needed to clone the repository

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
          deno-cache: true

      - name: Install step
        run: "deno install"

      - name: Upload to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: "viki-60s"
          entrypoint: "deno.ts"
          root: "./"
          
          
